/*
*Remove Default Styles
*/

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    font-family: 'Roboto', sans-serif;
}

/*
*Variables
*/
:root {
    --main-primary-color: #673ab7;
}

/*
*Header
*/

.header {
    height: 56px;
    background-color: var(--main-primary-color);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    text-align: center;
}

.header .header__logo {
    margin-top: 10px;
    color: white;
    display: inline-block;
    font-size: 2.1rem;
}

.main-content {
    max-width: 960px;
    margin-bottom: 30x;
    min-height: 900px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


/*
*GRILLA
*/
.row {
    display: flex;
    flex-wrap: wrap;
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.row-columns-4 > .column {
    flex: 0 0 auto;
    width: 25%;
}

@media (max-width: 575px) {
    .row-columns-4 > .column {
        flex: 0 0 auto;
        width: 100%;
    }
}

.column {
    flex: 1 0 0%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;

}

/*
*modal
*/
.simple-modal {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.simple-modal.show {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    background-color: white;
    border-radius: 5px;
    width: 600px;
    max-width: 100%;
    box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%);
    padding: 30px 50px;
    text-align: center;

}

/*
*Others
*/
.link {
    text-decoration: none;
    color: var(--main-primary-color);
}

.btn {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    outline: 0;
    cursor: pointer;
}

.modal-close-btn {
    background-color: var(--main-primary-color);
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

/*Footer*/
.footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}
